<%- include ('./partials/header.ejs') %>
    <!--COMIENZA SECCIÓN VISTA SHOP-->
    <div class="shop">
    <!--comienza aside-->
        <aside>
            <ul class="menu">
                <li class="sub-menu">
                    <h3 class="tittle-aside">BUSCAR</h3>
                    <input class="search__aside" type="text" placeholder="item o categoria"> 
                </li>
                <li class="sub-menu">
                    <h3 class="tittle-aside">ORDENAR POR</h3>
            <select class="select__aside">
                <option>Mayor a Menor</option>
                <option>Menor a Mayor</option>
                <option>Ofertas</option>
                <option>Envio gratis</option>
            </select>
                </li>
                <li class="sub-menu">
                    <h3 class="tittle-aside">PRECIO</h3>
                    <div class="min-max">
                     <span>
                     <p>MIN <input type="number" placeholder="0">
                     - MAX <input type="number" placeholder="10"></p>
                     </span>
                </li>
                <li class="sub-menu">
                    <h3 class="tittle-aside">FILTRAR</h3>
                    <ul class="aside-list__checkbox">
                      <li><input type="checkbox"  name="Nuevos" >
                    <label for="Nuevos">NUEVOS</label><br></li>
                      <li><input type="checkbox"  name="Nuevos" >
                    <label for="Nuevos">OFERTA</label><br></li>
                      <li><input type="checkbox"  name="Nuevos" >
                    <label for="Nuevos">EDICION ESPECIAL</label><br></li>
                      <li><input type="checkbox"  name="Nuevos" >
                    <label for="Nuevos">FAVORITOS</label><br></li>
                    </ul>
                </li>
            </ul>
    </aside>
    <!--fin aside-->
    <!--comienza main-->
    <main>
        <div class="container__card">
           <% data.forEach(item => { %>
            <article class="card-item" >
                <a class="card-item__link"  href="/item/<%= item.product_id %>">
                  <picture class="card-item__cover">
                    <span class="card-item__tag">Nuevo</span>
                    <img class="card-item__img--front" src="<%= item.img_front %>" alt="pidgeotto-1">
                    <img class="card-item__img--back" src="<%= item.img_back %>" alt="Pidgeotto en caja">
                  </picture>
                  <div class="card-item__content">
                    <p class="card-item__licence"><%= item.licence_name %></p>
                    <h4 class="card-item__name"><%= item.product_name %></h4>
                    <p class="card-item__price">$ <%= item.product_price %></p>
                    <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                  </div>
                </a>
                </article>
                 <% }) %>
        </div>
    </main>
    <!--fin main-->
</div>
<%- include ('./partials/footer.ejs') %>
